* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.imagem-destaque {
    width: 100%;
    height: 80vh; 
    object-fit: cover; 
    display: block;
}

.navbar {
    width: 100%;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #086808;
    font-family: 'Montserrat', sans-serif;
}

.logo {
display: flex;
    flex-direction: column;
    text-decoration: none;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 100px;
}

.logo-titulo {
    color: #ffffff;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1;
}
.logo-subtitulo {
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-top: 4px;
    margin-left: -20px;
    opacity: 0.9;
}
.nav-links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.751);
    transition: 0.3s ease;
    display: inline-block;
}

.nav-links a:hover {
    color: #e0e0e0;
    transform: scale(1.1);
}

.imagem {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo-cabecalho img {
    height: 60px;
    width: auto;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

.secao-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 8%;
 
}
.texto-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    padding: 60px 5%;
    max-width: 1400px;
    margin: 0 auto;
}

.bloco-texto {
    flex: 1;
}
.foto-principal {
    flex: 1;
    width: 100%;
    max-width: 650px;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}
.bloco-texto h1 {
    font-family: 'Merriweather', serif;
    font-size: 4rem;
    color: #1A5336;
    margin-bottom: 20px;
}

.bloco-texto p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    line-height: 1.8;
    color: #333333;
}

.secao-explicativa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 8%;
    min-height: 100vh;
}

.secao-explicativa img {
    max-width: 100%;
    height: auto;
}

.titulo-carrossel{
text-align: center;
font-size: 2.5rem;
color: #222222;
margin-bottom: 80px;
}

.secao-carrossel {
    padding: 100px 20px;
    background-color: #f9f9f9;
   
   
}

.pista-cards {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    padding: 20px 8%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 5%;

}

.card {
     width: 300px;
     flex-shrink: 0;
    background-color: #0b110b; 
    border-radius: 20px;
    overflow: hidden;
    text-decoration: none;
    transition: transform 0.3s ease;
    flex-shrink: 0;
    scroll-snap-align: start;

}
   
    

.card:hover {
    transform: scale(1.05); 
}

.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.conteudo-card {
    padding: 25px;
}

.conteudo-card h3 {
    color: #ffffff;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.conteudo-card p {
    color: #bbbbbb;
    font-size: 0.9rem;
}

.card:first-child {
    margin-left: 5%;
}
    .card:last-child {
    margin-right: 5%; 
}

@media (max-width: 768px) {
    .texto-principal {
        flex-direction: column;
        text-align: center;
        padding: 20px 5%;
    }

    .foto-principal {
        max-width: 100%;
    }
    
    .bloco-texto h1 {
        font-size: 2.5rem;
    }
}